<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mp3-analysis-func-zjwiuyappiexm.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0ac81d88-a9c1-498e-970b-4fb685522102/resourceGroups/rg-recruitment-test/providers/Microsoft.Web/sites/mp3-analysis-func-zjwiuyappiexm</ResourceId>
    <UserName>$mp3-analysis-func-zjwiuyappiexm</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://mp3-analysis-func-zjwiuyappiexm.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>